/*---------------------------------------------------------------------------HOME-------------------------------------------------------------------------------------*/

.carousel-item {
   img{
       object-fit: fill;
   }
    max-width: 100%;
    max-height: 55vh;
    background-color: white;
}

.obra {

      
    padding-bottom: 30px;
    margin-bottom: 20px;
    text-align: center;

    div {
    
        .icono {
        
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 110px;
            height: 110px;
            margin-bottom: 20px;
            background: #fff;
            border-radius: 50%;
            transition: 0.5s;
            border-style:groove;
            
            &:hover {
                box-shadow: 0px 0 30px rgb(253, 197, 197);
                transform: scale(1.45);
            }
        }

      
    }
   
}


/*---------------------------------------------------------------------------QUIENES SOMOS-----------------------------------------------------------------------------*/
.quienes {
    padding: 30px;
    background-color: rosybrown;

    .container {
        background-color: white;
        margin-top: 5rem;
        height: auto;

        p {
            text-align: left;
            font-style: italic;
            color: grey;
            padding-left: 40px;
        }

    }


}


/*--------------------------------------------------------------------------------TRATAMIENTOS-------------------------------------------------------------------------*/
.fondo{
    padding-top: 4rem;
    background-image: url(https://st.depositphotos.com/1746419/1324/v/600/depositphotos_13248197-stock-illustration-classic-wallpaper-in-pink.jpg);
  }
  .tratamientos .item {
    margin-bottom: 30px;
  }
  
  .tratamientos li {
    margin: 15px;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 12px;
  }
  
  .tratamientos li:hover {
    background: rosybrown;
  }
  
  
  a{
    color: grey;
    text-decoration: none;
  }
  
  a:hover{
    color: white;
  }
  
  
  
  h6{
    padding:0.5rem;
    font-style: oblique;
  }
  
  .cartas{
    padding-bottom: 11rem;
    padding-top: 2rem;
  }
  
  .p{
    background-color: white;
    padding-top: 1rem;
    width: 320px;
    height: 430px;
  }
  
  .fotos{
    width: 356px;
    height: 222.5px;
  }
  
  
  .tratamientos #filtros {
    margin-left: 35px ;
    text-align: center;
  }
  
  
  .tratamientos .especificaciones {
    position: relative;
    overflow: hidden;
  }
  
  
  
  
  .tratamientos .especificaciones:hover {
    box-shadow: 0px 120px 120px rgba(0, 0, 0, 0.16);
    transform: scale(1.02);
  }
  
  
  .tratamientos .especificaciones:hover p {
    transform: scale(1.1);
    background-color: rgb(143, 101, 101);
  }
  
  .tratamientos .especificaciones p {
    margin-left: 6rem;
    background-color: rosybrown;
    border: rosybrown;
  }
  
  .distancia{
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
  
/*-------------------------------------------------------------------------------Contactos-----------------------------------------------------------------------------*/

.fondocontacto{
    background-color: rosybrown;
    background-size: auto;



    .opciones{
        margin-bottom: 1rem;
        background-color: white;
        padding: 2rem;
        border: 6px inset;

        &:hover{
            box-shadow: 0px 120px 120px rgba(0, 0, 0, 0.16);
            border: 10px inset;
        }

     
    
        .info  {
            h3{
                margin-top: 2rem;
                margin-bottom:1rem ;
                font-size: 20px;
                color: #666;
                font-weight: 700;
            }
        
        }

        
    }
   
  
    .formulario {
        margin-bottom: 20px;

        button {
            background: #fdc5c5;
            border: #fdc5c5;
            padding: 10px 30px;
            margin: 1rem;
            color: grey;

            &:hover {
                background: rosybrown;
                color: white;
            }
        }
    }
   
}
  
